<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sihle Portfolio</title>
    <link rel="stylesheet" href="~/css/landingPage.css" />
</head>
<body>

    <!-- NAV-->
    <header>
        <div class="logo">SM</div>

        <nav>
            <a href="#">Home</a>
            <a href="#">About Me</a>
            <a href="#">Contact</a>
        </nav>
    </header>

   <!-- Wlcm -->
    <section class="hero">

     
        <img src="~/images/download.jpg" alt="" />

        <div class="hero-text">
            <h1>Hi, I'm Sihle Mkhathini</h1>
            <p>Aspiring Web Developer</p>

            <button>View My Work</button>
        </div>
    </section>

    <!-- section H -->
    <section class="about">

        <div class="about-text">
            <h2>Sihle Mkhathini</h2>

            <p>
                I’m an aspiring web developer 
                who's interested in learning on how to building clean,
                user-friendly websites and learning new technologies.
                I am passionate about problem solving and creating
                solutions that make an impact.
            </p>

            <button>Download CV</button>
        </div>

        <!-- IMAGE img -->
        <div class="profile-image-box">
            <img src="~/images/IMG-20241008-WA0033.jpg" alt="Profile Picture">

        </div>

    </section>

    <!-- FOOTER -->
    <footer>

        <div class="footer-box">
            <h3>56 maud</h3>
            <p>Pmb, South Africa</p>
            <p>+27 60 195 2637 </p>
            <p>sihlemkhathini83@email.com</p>
        </div>

        <div class="footer-box">
            <h3>Connect</h3>

            <div><a href="https://github.com/sihlemkhathini83-dotcom">GitHub</a></div>
            <div><a>LinkedIn</a></div>
            <div><a>Instagram</a></div>
        </div>

        <!-- MAP img-->
        <div class="footer-box">

            <h3>Find Me</h3>

            <div class="map-box">

                <div class="map-box">
                    <img src="~/images/Screenshot 2026-05-19 222617.jpg" alt="Map">
                </div>

            </div>

        </div>

    </footer>

</body>
</html>
